.container-card-equipe{
    display: flex;
    align-items: center;
    gap: 15px;
}

.section-equipe.bg-transp .container-card-equipe{
    color: white;
}

.container-text-equipe{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
  
.container-text-equipe h4{
    font-size: 24px;
}

.container-text-equipe p{
    font-size: 14px;
}

.section-equipe h2{
    font-size: 3.5em;
    text-align: center;
    margin-top: 40px;
    text-shadow: var(--text-shadow-01);
}

.section-equipe.bg-white h2, .section-equipe.bg-white h4{
    color: var(--cor-01);
}

.section-equipe.bg-transp h2, .section-equipe.bg-transp h4{
    color: white;
}

@media (max-width:591px) {
    .container-main-equipe h2{
        font-size: 48px;
        flex-wrap: wrap;
    }
}

@media (max-width: 800px){
    .section-equipe h2{
        word-break: break-all;
    }
}