.footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 40px 20px;
}

.footer__logo-ufs{
    width: min(300px, 90%);
}

.footer__logo-dcomp{
    width: min(110px, 60%);
}