.section-bem-vindo{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    width: 100%;
    margin-top: 80px; /* espaço na navbar */
}

.section-bem-vindo > img{
    width: min(50%, 500px);
    /* filter: var(--image-shadow-01); */
}

.section-bem-vindo__content-tittle {
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
    width: 500px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    flex-wrap: wrap;
}
  
.section-bem-vindo__content-tittle h1 {
    font-size: 72px;
    text-shadow: var(--text-shadow-01);
}
  
.section-bem-vindo__content-tittle p {
    font-size: 1.35em;
    text-align: center;
    text-shadow: var(--text-shadow-01);
}
  
.section-bem-vindo__content-tittle p:nth-child(1) {
    font-size: 1.1em;
    text-align: center;
}