.section-equipe{
    display: flex;
    flex-direction: column;
}

.section-equipe.bg-white{
    background-color: white;
}

.section-equipe.bg-transp{
    background-color: transparent;
}

.container-entre-contato{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-entre-contato p{
    font-size: 1.1em;
}

.container-entre-contato h3:hover{
    cursor: pointer;
    text-decoration: underline;
}